
<div class="container-fluid">
    <div class="cajon">
      <div class="titulo">
        <h3 class="gestiones">
          Administración De Compras
        </h3>
      </div>
  
      <div style="text-align: right; margin: 0;">
        <div style="text-align: right; margin: 0;">
          <a nz-button nzType="primary" routerLink="/administracion/nuevaCompra">
            <i class="fas fa-briefcase"  style="margin-right: 5px;"></i>Agregar Compra
          </a>
        </div>
      </div>
  
      <div class="table">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table bordered row-border hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th># FACTURA</th>
              <th>NOMBRE PROVEEDOR</th>
              <th>TOTAL</th>              
              <th>ver</th>
            </tr>
          </thead >
          <tbody>
            <tr *ngFor="let compra of compras">
              <td>{{compra.id}}</td>
              <td>{{compra.numeroFactura}}</td>
              <td>{{compra.proveedor}}</td>
              <td>{{compra.total}}</td>              
              <td style="text-align: center;">
                <div>
                    <a nz-popover [nzPopoverContent]="ver" style="color: blue;"  routerLink="/administracion/verCompra/{{compra.id}}">
                      <i class="fas fa-eye" style="font-size: large;"></i>
                    </a>

                    <ng-template #ver>
                      Ver Compra
                    </ng-template>
                    
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
        
  
      </div>
    </div>
  </div>